@model FKM_Diagnostic_Center.Patient

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Are you sure you want to delete </h2>
<div class="display-field">
    <h2>@Html.DisplayFor(model => model.PName)</h2>
</div>

<fieldset>
    <legend></legend>

    <div class="display-label">
        <p>Address :  @Html.DisplayFor(model => model.PAddress)</p>
    </div>
    <div class="display-label">
        <p>Age: @Html.DisplayFor(model => model.PAge)</p>
    </div>
    <div class="display-label">
        <p>Phone Number :@Html.DisplayFor(model => model.PPhone)</p>
    </div>
    <div class="display-label">
        <p>Assign Date: @Html.DisplayFor(model => model.PDate)</p>
    </div>
    <div class="display-label">
        <p>Test Name :@Html.DisplayFor(model => model.Test.testName)</p>
    </div>
    <div class="display-label">
        <p>Bill :@Html.DisplayFor(model => model.Test.testBill)</p>
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
